:root {
    --text-color: black;
    --bg-color: white;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color: white;
      --bg-color: black;
    }
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color); /* 背景色を設定 */
    color: var(--text-color); /* テキスト色を設定 */
  }
  