body {
    font-family: Arial, sans-serif;
  }
  
  #hover-button {
    background-color: lightgray;
    border: 1px solid black;
  }
  
  #hover-button:hover {
    background-color: lightblue;
  }
  